@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root{
    --primary-color: #2b5876;
    --secondary-color: rgb(152, 35, 224);
    --weak-color:rgb(255, 8, 8);
    --medium-color:#dcf000ff;
    --strong-color: #44ff00;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background:linear-gradient(45deg, var(--secondary-color), var(--primary-color));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #333;
    padding: 20px;
}

.container{
    background-color:#fefffd;
    padding: 2.5rem;
    border-radius: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    width: 90%;
    max-width: 450px;
}

h1{
    text-align: center;
    margin-bottom: 1.8rem;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
    position: relative;
    padding-bottom: 0.5rem;
}
h1::after{
    content:"";
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    /* background-color: red; */
    background:linear-gradient(90deg, var(--secondary-color), var(--primary-color));
    border-radius: 2px;
}
.password_container{
    margin-bottom: 2rem;
    background-color: #2b5876;
    border-radius: 10px;
    border: 1px solid #e2e8f0;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 0;
}

#password {
    width: 100%;
    padding: 1.1rem;
    
}